
.idea/workspace.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/vcs.xml
__pycache__/functions.cpython-310.pyc
.idea/misc.xml
.idea/modules.xml
.idea/Menu_Python.iml
__pycache__/functions.cpython-38.pyc
data.txt
